@import 'styles/_variables';

.default {
  min-height: 30px;
  font-size: 14px;
  padding: 0 20px;
  color: $application-green;
  background: #fff;
  border: 1px solid darken(#fff, 10%);
  border-radius: 3px;
  cursor: pointer;
}

.default[type="submit"] {
  color: #fff;
  background: $application-green;
  border: 1px solid darken($application-green, 10%);
}