@import 'styles/_variables';

.header-wrapper {
  display: flex;
  align-items: center;
  padding: 10px 30px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: $application-green;
}