@import 'styles/_variables';

.form-input-container {
  position: relative;
  margin-bottom: 30px;
  box-sizing: border-box;
  outline: none;
  display: flex;
  flex-direction: column;

  label {
    margin-bottom: 5px;
    font-size: 14px;
    color: #5d5d5d;
    font-family: sans-serif;
  }
}

.icon {
  position: absolute;
  right: 8px;
  top: 7px;
}

.invalid {
  border-bottom: 2px solid red;
}

.message {
  position: absolute;
  color: red;
  bottom: -20px;
  left: 0;
  font-family: sans-serif;
  font-size: 12px;
}